body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* navbar  */
.navbar {
    height: 125px;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left-div {
    height: 35%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.gaming-logo {
    padding: 5px;
}
.gamer-p {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}
.span-pink-text {
    color: #F948B2;
}
.nav-right-div {
    height: 35%;
    display: flex;
    gap: 30px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.Follow-us-div {
    padding: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 8px;
    background-color: #ecebec;
}
/* banner  */
.banner {
    display: flex;
}
.banner-card-div {
    width: 45%;
    padding: 130px 0px 0px 200px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
}
.all-h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
.banner-h1 {
    margin: 0;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: #F948B2;
}
.normal-p {
    font-size: 20px;
    color: #534C64;
}
.banner-button-div {
    margin: 20px 0px;
    display: flex;
    gap: 20px;
}
.pink-button {
    height: 50px;
    width: 140px;
    border-radius: 30px;
    font-size: 20px;
    color: #fffdff;
    border: none;
    background-color: #F948B2;
}
.blue-button {
    height: 50px;
    width: 160px;
    border-radius: 30px;
    font-size: 20px;
    color: #fffdff;
    border: none;
    background-color: #4EC5F7;
}
.banner-img-div {
    width: 55%;
}
/* online games section  */
.online-game-div {
    padding: 70px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.online-game-img-div-container {
    display: flex;
    gap: 25px;
}
.online-game-img-div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: inline-block;
}
.online-hover-div {
    position: absolute;
    top: 35%;
    right: 40%;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7214c;
}
.online-hover-div:hover {
    color: #e7214c;
}
.online-hover-div:hover {
    opacity: 100%;
}
.online-game-img-div:hover {
    cursor: pointer;
    filter: brightness(60%);
}
/* play instantly section  */
.play-instantly-div {
    padding: 0px 200px;
    padding-bottom: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.play-instantly-card {
    width: 35%;
    margin: 0;
    padding: 180px 0px 0px 100px;
    text-align: right;
}
.play-instantly-img-div {
    width: 40%;
    position: relative;
}
.play-instantly-img {
    height: auto;
    width: 100%;
}
.play-instantly-img-small-div {
    position: absolute;
    bottom: -100px;
    left: -100px;
}
/* <!-- button section --> */
.button-div {
    padding: 100px 200px 100px 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: rgb(245, 245, 245);
}
.stantup-button {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 45px;
    background-color: #fff;
    border: 1px transparent;
}
.stantup-button:hover {
    cursor: pointer;
    border: 1px solid #F948B2;
}
.button-logo {
    width: 20%;
}
.button-logo-pic {
    width: 100%;
}
.button-text {
    font-size: 20px;
    font-weight: 600;
}
.button-text:hover {
    color: #F948B2;
}
/* footer section  */
footer {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #26223a;
}
.gamer-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-gaming-logo {
    padding: 5px;
}
.footer-gamer-p {
    color: #ebe5eb;
    font-size: 30px;
}
.footer-p-div {
    width: 50%;
    margin: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-p-bold {
    font-size: 20px;
    font-weight: 800;
    color: #fffdff;
}
.image-button-div {
    width: 40%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.button-logo {
    width: 40px;
}
.b-logo {
    width: 100%;
}
.button-logo:hover {
    cursor: pointer;
}
.footer-p {
    color: #ebe5eb;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* media query  */

@media only screen and (max-width: 425px) {
    .navbar {
        height: auto;
        padding: 20px 40px;
        flex-direction: column;
  }
  .nav-left-div {
    justify-content: center;
  }
  .gaming-logo {
    width: 25%;
    padding: 20px;
  }
  .gamer-p {
    font-size: 20px;
  }
  .nav-right-div {
    flex-direction: column;
    gap: 10px;
  }
  .nav-list {
    flex-direction: column;
  }
  .Follow-us-div {
    height: 40px;
    padding: 0px 12px;
  }
  .ul-p {
    font-size: 15px;
    padding: 0;
  }
  /* banner  */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .banner-img {
    width: 60%;
  }
  .banner-card-div {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-h3 {
    margin: 8px 0px;
    font-size: 15px;
  }
  .banner-h1 {
    margin: 0;
    font-size: 40px;
  }
  .normal-p {
    margin: 5px;
    /* width: 80%; */
    font-size: 15px;
    text-align: center;
  }
  .banner-button-div {
    margin: 20px 0px;
    display: flex;
    gap: 10px;
  }
  .pink-button {
    height: 30px;
    width: 80px;
    font-size: 12px;
  }
  .blue-button {
    height: 30px;
    width: 90px;
    font-size: 12px
  }
  /* online games  */
  .online-game-div {
    padding: 20px;
  }
  .online-game-img-div-container {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .online-game-img-div {
    width: 80%;
    align-items: center;
  }
  .online-img {
    width: 100%;
  }
  .online-hover-div {
    position: absolute;
    top: 35%;
    right: 40%;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7214c;
}

  /* play instantly section  */
  .play-instantly-div {
    padding: 0;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }
  .play-instantly-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.play-instantly-img-div {
    width: 60%;
    padding: 40px 0px;
}
.play-instantly-img {
    height: auto;
    width: 100%;
}
.play-instantly-img-small-div {
    width: 45%;
    bottom: -5px;
    left: -40px;
}
.play-instantly-img-small {
    width: 100%;
}
/* <!-- button section --> */
.button-div {
    padding: 40px 15px;
    gap: 8px;
}
.stantup-button {
    padding: 0px 10px;
    gap: 7px;
}
.button-logo {
    width: 25px;
    display: flex;
    align-items: center;
}
.button-logo-pic {
    width: 100%;
}
.button-text {
    font-size: 10px;
}
/* footer section  */
footer {
    padding: 30px;
}
.footer-gaming-logo {
    width: 30%;
}
.footer-gamer-p {
    font-size: 20px;
}
.footer-p-div {
    width: 90%;
    margin: 10px;
    gap: 20px;
}
.footer-p-bold {
    font-size: 15px;
    margin: 0px;
}
.image-button-div {
    width: 60%;
    gap: 20px;
}
.button-logo {
    width: 20px;
}
.footer-p {
    font-size: 15px;
}
}